# 02 - Data from the Web


## You will never guess how long it takes EPFL students to complete their degree!

## (Question 2 will shock you!)

---

## Part 0 - Helpers and constants

#### Import modules

In [2]:
import requests

from bs4 import BeautifulSoup

import re

import pickle

import pandas as pd

#### Constants

In [3]:
# Base URL for isa.epfl.ch public report searches
isa_base_url = 'http://isa.epfl.ch/imoniteur_ISAP/'

#### Helpers

In [4]:
# Helper for creating search path
def isa_url(path):
    return isa_base_url + path

In [5]:
# Allow accessing dictionary items as object attributes
# https://goodcode.io/articles/python-dict-object/
class objdict(dict):
    def __getattr__(self, name):
        if name in self:
            return self[name]
        else:
            raise AttributeError("No such attribute: " + name)

    def __setattr__(self, name, value):
        self[name] = value

    def __delattr__(self, name):
        if name in self:
            del self[name]
        else:
            raise AttributeError("No such attribute: " + name)

In [6]:
# Fetch the given url using a GET requests with the supplied parameters
# and return a BeautifulSoup object
def get_page(url, params=None):
    r = requests.get(url, params)
    
     # Check whether the request succeeded or not
    if r.status_code is not requests.codes.ok:
        print("Something went wrong. Got status code = %d" % r.status_code)
        return None
    
    # Make sure we actually got some content back, as ISA will return a 200 status code but no content
    # when the supplied parameters are wrong.
    if int(r.headers['Content-Length']) == 0:
        print("Something went wrong. Got Content-Length: 0")
        return None
    
    # Extract the response body
    html = r.text
    
    # Parse it with BeautifulSoup
    return BeautifulSoup(html, 'html.parser')

## Part 1 - Scraper Module

The first step is to fetch all the data from ISA.

To do this, we will have to scrape the respective frames that ISA serves for the form and then the search results. Steps are detailed below.

In [7]:
# URL of the public ISA home page.
isa_home_url = isa_url('%21gedpublicreports.htm?ww_i_reportmodel=133685247')

#### Get the right frame URL from the home page

In [8]:
# Get the home page content
home_soup = get_page(isa_home_url)

In [9]:
# Find the frame containing the form
toc_frame = home_soup.find('frame', attrs={'name': 'toc'})

In [10]:
# Extract the frame's URL
toc_frame_url = toc_frame['src']
toc_frame_url

'!GEDPUBLICREPORTS.filter?ww_i_reportModel=133685247'

#### Let's now get the form itself

In [11]:
toc_url = isa_url(toc_frame_url)

In [12]:
toc_soup = get_page(toc_url)

In [13]:
# Find the form itself within the page.
# The form's name is a heuristic, read from the page's source.
form_elem = toc_soup.find('form', attrs={'name': 'f'})

In [14]:
# Find the form's action on validation
form_action = form_elem['action']
form_action_url = isa_url(form_action)
form_action_url

'http://isa.epfl.ch/imoniteur_ISAP/!GEDPUBLICREPORTS.filter'

### Manually craft the same request submitting the form would send to the server

The requests below corresponds to:

**Format:** html  
**Unité academique:** Informatique  
**Période académique:** *blank*  
**Période pédagogique:** *blank*  
**Type de semestre:** *blank*

In [15]:
# Define a payload dictionary with all the parameters expected by ISA's API endpoint

# /!\ By default we will request all possibilities from the endpoint, and then filter. /!\ #

# Example requests for specific academic or pedagogic periods are left FYI.

payload = {
    'ww_b_list': '1',
    'ww_i_reportmodel': '133685247',
    'ww_c_langue': '',
    
    # Format = html
    'ww_i_reportModelXsl': '133685270', 
    
    # Faculty = { Informatique : 249847 }
    'zz_x_UNITE_ACAD': 'Informatique',
    'ww_x_UNITE_ACAD': '249847',
    
    # Academic Period = { '' : null } if we want all possible periods
    #                 = { '2016-2017' : 355925344 } for a specific year
    'zz_x_PERIODE_ACAD': '',
    'ww_x_PERIODE_ACAD': 'null',

    
    # Pedagogic Period = { '' : null } if we want all possible periods
    #                  = { 'Bachelor semestre 1' : 249108 } for a specific period
    'zz_x_PERIODE_PEDAGO': '',
    'ww_x_PERIODE_PEDAGO': 'null',
    
    # Winter or summer semesters
    'zz_x_HIVERETE': '',
    'ww_x_HIVERETE': 'null',
    
    'dummy': 'ok'
}

#### Send the request and extract the list of links that would appear below the form had we submitted it using the browser

In [16]:
# Parse the result
form_result_soup = get_page(form_action_url, params=payload)
# form_result_soup.prettify() # Debug print

In [17]:
# Extract the links from the list of results
all_links = form_result_soup('a', class_='ww_x_GPS')
# all_links # Debug print

Store the links in a dictionary. Some cleaning is applied, such as whitespace stripping

> **Note:** We remove the first link, named 'Tous', as we will request each page individually
      in order to avoid downloading a huge HTML table, which would also be much more painful to parse.

In [18]:
links = [
    objdict({
        'text': link.text.strip(),
        'url': link.attrs['onclick']
    }) for link in all_links if link.text.strip() != 'Tous'
]

For each link,the page loads the respective results with the following on-click action :

```
loadReport('ww_x_GPS=2021043255');return false;
```

We will use the following function ```parse_url()``` to extract the ```ww_x_GPS``` parameter expected by the API to return the desired information about the students.

In [19]:
parse_url_pattern = r"""'(\w+)=(\d+)'"""
parse_url_re = re.compile(parse_url_pattern)

def parse_url(url):
    match = re.search(parse_url_pattern, url)

    if match == None:
        print('parse_url: parsing failure: %s' % url)
        return None
    
    return objdict({
        'key': match.group(1),
        'value': match.group(2)
    })

The list itself must be parsed to extract information regarding section, academic year, pedagogic period. The format is the following :

```
Informatique, 2016-2017, Bachelor semestre 1
```

We call an element of the list an item, and it will be parsed by the following ```parse_item()``` function.

In [57]:
parse_item_pattern = r"""Informatique,\s*(?P<start_year>\d+)-(?P<end_year>\d+),\s*(?P<degree>[\w]+) semestre (?P<semester>\d)"""
parse_item_re = re.compile(parse_item_pattern)

def parse_item(item, url, payload):
    match = re.match(parse_item_re, item)
    
    # The above regex will match only the kind of records we are interested in, so we can
    # safely drop all the non-matching ones
    if match == None:
        # print('Match failed: %s ' % item)
        return None
    
    parsed_url = parse_url(url)
    
    if parsed_url == None:
        return None
    
    params = payload.copy()
    params[parsed_url.key] = parsed_url.value
    
    return objdict({
        'start_year': int(match.group('start_year')),
        'end_year': int(match.group('end_year')),
        'degree': match.group('degree'),
        'semester': int(match.group('semester')),
        'params': params
    })

def show_item(item):
    return ('%s semester %s (%d-%d)' % (item.degree, item.semester, item.start_year, item.end_year))

# Filter all None elements from the given list
def filter_none(a_list):
    return [item for item in a_list if item != None]

Let's now parse all the links, and extract the URL parameter we will need to fetch the corresponding page:

In [58]:
all_items = [parse_item(link.text, link.url, payload) for link in links]

We only one to fetch the students who started after 2007 and end their master before 2017:

In [23]:
def is_valid_item(item):
    return item != None and item.start_year >= 2007 and item.end_year <= 2017

def filter_items(items):
    return [item for item in items if is_valid_item(item)]

In [25]:
items = filter_items(all_items)

#### Let's now go through all the collected items to extract the list of enrolled students

In [26]:
list_page_url = isa_url('!GEDPUBLICREPORTS.html')

# Parse a row of the table into a dictionary, keeping all cells,
# and adding the information about the degree and semester.
def parse_student_row(tr, item, headers):
    tds = tr.find_all('td')
    texts = [td.text for td in tds]
    
    res = {}
    for i, header in enumerate(headers):
        res[header] = texts[i]
    
    item_keys = ['degree', 'semester', 'start_year', 'end_year']
    for key in item_keys:
        res[key] = item[key]
    
    return objdict(res)

# Extract all students from the given page, that was fetched with the given item
def parse_students_list(page_soup, item):
    table = page_soup.find('table')
    trs = table.find_all('tr')
    
    # If the table has less than 3 rows, it doesn't contain any students
    if len(trs) < 3:
        return []
    
    (header_row, students_rows) = (trs[1], trs[2:])
        
    headers = [x.text for x in header_row.find_all('th')]
    
    return [
        parse_student_row(student_row, item, headers) for student_row in students_rows
    ]

# Load and extract all students in the page characterized by the given item.
def load_student_page(item):
    print('Loading page for "%s"' % show_item(item))
    
    return objdict({
        'soup': get_page(list_page_url, item.params),
        'item': item
    })

# Flatten a list of list into a list.
def flatten_list(a_list):
    return [item for sublist in a_list for item in sublist]

In [60]:
# Set this flag to False to load the data from ISA
load_from_disk = True
save_path = "students_data.p"

if load_from_disk:
    student_list = pickle.load(open(save_path, 'rb'))
else:
    students_pages = [load_student_page(item) for item in items]

    students_lists = [
        parse_students_list(page.soup, page.item) for page in students_pages
    ]

    student_list = flatten_list(students_lists)
    
    # Serialize the whole data to disk
    pickle.dump(student_list, open(save_path, 'wb'))

## Part 2 - Data analysis

### Question 1

> Keep only the students for which you have an entry for both Bachelor semestre 1 and Bachelor semestre 6. Compute how many months it took each student to go from the first to the sixth semester. Partition the data between male and female students, and compute the average -- is the difference in average statistically significant?

Let's load all students, and clean up the columns names for easier subsequent manipulation:

In [61]:
students_data = pd.DataFrame(student_list)

def load_bsc_data(data):
    bsc_data = students_data[['No Sciper', 'Civilité', 'Nom Prénom', 'degree', 'semester', 'start_year', 'end_year']]
    return bsc_data.rename(columns={'No Sciper': 'sciper', 'Civilité': 'title', 'Nom Prénom': 'name'})
    
bsc_data = load_bsc_data(students_data)

We only want to keep Bachelor students for whom we have an entry for both semester 1 and 6:

In [62]:
def filter_bsc_students(bsc_data):
    bsc_students = bsc_data[bsc_data['degree'] == 'Bachelor']
    idx1 = set(bsc_students[bsc_students['semester'] == 1].set_index('sciper').index)
    idx6 = set(bsc_students[bsc_students['semester'] == 6].set_index('sciper').index)

    idx = idx1.intersection(idx6)

    return bsc_students[bsc_students['sciper'].isin(idx)].set_index('sciper').sort_index()

bsc = filter_bsc_students(bsc_data)
bsc.head(20)

           title               name    degree  semester  start_year  end_year
sciper
147008  Monsieur        Good Xavier  Bachelor         4        2009      2010
147008  Monsieur        Good Xavier  Bachelor         1        2008      2009
147008  Monsieur        Good Xavier  Bachelor         2        2008      2009
147008  Monsieur        Good Xavier  Bachelor         3        2009      2010
147008  Monsieur        Good Xavier  Bachelor         6        2010      2011
147008  Monsieur        Good Xavier  Bachelor         5        2010      2011
169569  Monsieur  Arévalo Christian  Bachelor         3        2008      2009
169569  Monsieur  Arévalo Christian  Bachelor         4        2008      2009
169569  Monsieur  Arévalo Christian  Bachelor         2        2007      2008
169569  Monsieur  Arévalo Christian  Bachelor         5        2009      2010
169569  Monsieur  Arévalo Christian  Bachelor         6        2009      2010
169569  Monsieur  Arévalo Christian  Bachelor         1        2007      2008
169731  Monsieur     Knecht Mathieu  Bachelor         5        2010      2011
169731  Monsieur     Knecht Mathieu  Bachelor         3        2008      2009
169731  Monsieur     Knecht Mathieu  Bachelor         4        2008      2009
169731  Monsieur     Knecht Mathieu  Bachelor         3        2009      2010
169731  Monsieur     Knecht Mathieu  Bachelor         4        2009      2010
169731  Monsieur     Knecht Mathieu  Bachelor         6        2010      2011
169731  Monsieur     Knecht Mathieu  Bachelor         1        2007      2008
169731  Monsieur     Knecht Mathieu  Bachelor         2        2007      2008

We now compute the number a semester each student did, and add it as a column.
We do so by computing the number of rows we have per student (TODO: Ensure we don't have duplicated rows)

In [65]:
def add_semesters_count(bsc):
    cols = ['sciper', 'semester']
    semester_count = bsc.reset_index()[cols].groupby('sciper').count().rename(columns={'semester': 'semester_count'})
    return bsc.merge(semester_count, left_index=True, right_index=True)
    
bsc_with_count = add_semesters_count(bsc)
bsc_with_count.head(20)

,title,name,degree,semester,start_year,end_year,semester_count
sciper,,,,,,,
147008,Monsieur,Good Xavier,Bachelor,4,2009,2010,6
147008,Monsieur,Good Xavier,Bachelor,1,2008,2009,6
147008,Monsieur,Good Xavier,Bachelor,2,2008,2009,6
147008,Monsieur,Good Xavier,Bachelor,3,2009,2010,6
147008,Monsieur,Good Xavier,Bachelor,6,2010,2011,6
147008,Monsieur,Good Xavier,Bachelor,5,2010,2011,6
169569,Monsieur,Arévalo Christian,Bachelor,3,2008,2009,6
169569,Monsieur,Arévalo Christian,Bachelor,4,2008,2009,6
169569,Monsieur,Arévalo Christian,Bachelor,2,2007,2008,6
169569,Monsieur,Arévalo Christian,Bachelor,5,2009,2010,6
169569,Monsieur,Arévalo Christian,Bachelor,6,2009,2010,6
169569,Monsieur,Arévalo Christian,Bachelor,1,2007,2008,6
169731,Monsieur,Knecht Mathieu,Bachelor,5,2010,2011,8
169731,Monsieur,Knecht Mathieu,Bachelor,3,2008,2009,8
169731,Monsieur,Knecht Mathieu,Bachelor,4,2008,2009,8
169731,Monsieur,Knecht Mathieu,Bachelor,3,2009,2010,8
169731,Monsieur,Knecht Mathieu,Bachelor,4,2009,2010,8
169731,Monsieur,Knecht Mathieu,Bachelor,6,2010,2011,8
169731,Monsieur,Knecht Mathieu,Bachelor,1,2007,2008,8
169731,Monsieur,Knecht Mathieu,Bachelor,2,2007,2008,8

We now group rows by SCIPER, to only get one row per student. Since we're only interested in the SCIPER, name, and semster count, which are identical for all rows concerning a given student, we can safely take the first row per student.

In [66]:
bsc_agg = bsc_with_count[['title', 'name', 'semester_count']].reset_index().groupby('sciper').agg('first')
bsc_agg.sample(10)

           title                          name  semester_count
sciper
180241  Monsieur         Sondag Pierre-Antoine               6
213287  Monsieur        Jacobs Frédéric Jean H              11
214939  Monsieur  Boissaye Arnaud Didier Marie               7
215623  Monsieur    Andreina Sébastien Laurent               8
224138  Monsieur     Neu Virgile Clovis Cédric               6
180916  Monsieur                  Zhou Yunpeng               6
228357  Monsieur             Subri Guy-Laurent               8
225711  Monsieur    Steinmann Raphaël Benjamin               8
247328  Monsieur          Beck Johannes Magnus               6
225316  Monsieur            Tang Tinh Di David               6

Let's now filter students who did less than 6 semesters, as those either haven't completed their BSc
or are outliers who switched sections or something else.

In [47]:
len(bsc_agg[bsc_agg['semester_count'] < 6])

1

In [67]:
bsc_agg_filtered = bsc_agg[bsc_agg['semester_count'] >= 6]
bsc_agg_filtered.describe()

       semester_count
count      396.000000
mean         7.090909
std          1.518433
min          6.000000
25%          6.000000
50%          6.000000
75%          8.000000
max         12.000000

In [56]:
by_title = bsc_agg.groupby('title')
by_title['semester_count'].describe()

title
Madame    count     29.000000
          mean       6.793103
          std        1.346406
          min        6.000000
          25%        6.000000
          50%        6.000000
          75%        8.000000
          max       11.000000
Monsieur  count    368.000000
          mean       7.105978
          std        1.536891
          min        4.000000
          25%        6.000000
          50%        6.000000
          75%        8.000000
          max       12.000000
Name: semester_count, dtype: float64

### Question 2

> Perform a similar operation to what described above, this time for Master students. Notice that this data is more tricky, as there are many missing records in the IS-Academia database. Therefore, try to guess how much time a master student spent at EPFL by at least checking the distance in months between Master semestre 1 and Master semestre 2. If the Mineur field is not empty, the student should also appear registered in Master semestre 3. Last but not the least, don't forget to check if the student has an entry also in the Projet Master tables. Once you can handle well this data, compute the "average stay at EPFL" for master students. Now extract all the students with a Spécialisation and compute the "average stay" per each category of that attribute -- compared to the general average, can you find any specialization for which the difference in average is statistically significant?

In [ ]:
def load_msc_data(data):
    cols = [
        'Civilité', 'No Sciper', 'Nom Prénom', 'Statut',
        'Spécialisation', 'Mineur',
        'degree', 'semester', 'end_year', 'start_year'
    ]
    rename = {
        'Civilité': 'title',
        'No Sciper': 'sciper',
        'Nom Prénom': 'name',
        'Statut': 'status',
        'Spécialisation': 'specialisation',
        'Mineur': 'minor'
    }
    
    return students_data[cols].rename(columns=rename)
    
msc_data = load_msc_data(students_data)

def filter_msc_students(students_data):
    return students_data[(students_data['degree'] == 'Master') & (students_data['status'] == 'Présent')]

msc = filter_msc_students(msc_data).set_index('sciper').sort_index()
msc

In [ ]:
msc_count = add_semesters_count(msc)
msc_count[(msc_count['semester_count'] < 3) & (msc_count['minor'] != '')]

In [ ]:
msc_agg = msc_count[['title', 'name', 'minor', 'semester_count']].reset_index().groupby('sciper').agg('first')
msc_agg.sample(10)

In [ ]:
msc_agg[msc_agg['semester_count'] >= 1].groupby('title').describe()